<% include ../partials/header.ejs %>
<div class="" ng-controller="indexController">


    <h1><%=title%></h1>
    <form action="/setup" method="post">
      Vorname: <input type="text" name="vorname" value="Max"><br>
      Name: <input type="text" name="name" value="Mustermann"><br>
      E-Mail: <input type="text" name="mail" value="max@muster.de"><br>
      Passwort: <input type="password" name="password" value="****"><br>
      <input type="submit" value="Abschicken">
    </form>
    <form ng-submit="submit()">
      Name: <input type="text" name="name" ng-model="name"><br>
      Passwort: <input type="password" name="password" ng-model="password"><br>
      <input type="submit" value="Abschicken">
    </form>
    {{"Name " +name}}
    {{"Passwort " + password}}
</div>
<% include ../partials/footer.ejs %>
